@page "/"
@inject AppState AppState

<h1>Hello, world!</h1>

Welcome to your new app.

@AppState.SelectedColour

<RedComponent />
<BlueComponent />

@code {

    protected override void OnInit()
    {
        AppState.OnChange += StateHasChanged;
    }

}